
  

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 89vh; 
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd;
    z-index: 100; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    margin-Top:10px;
    margin-left: 10px;
    margin-bottom: 40px;
  }
  
  .new-note-btn {
    background-color: #007bff;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .new-note-btn:hover {
    background-color: #0056b3;
  }
  
  .notes-list {
    list-style: none;
    padding: 0;
    overflow-y: auto;
    flex-grow: 1; 
  }
  
  .notes-list li {
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }
  
  .notes-list li.active {
    background-color: #007bff;
    color: white;
  }
  
  .notes-list li:hover {
    background-color: #ddd;
  }
  
  
  .editor {
    margin-left: 25%; 
    height: 105vh;
    width: 140vh; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-Top: 10px;
    margin-right: 10px;
    margin-left: 400px;
  }
  
  textarea {
    width: 100%;
    height: calc(100% - 70px);
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
  }
  
  .editor-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  
  .save-btn,
  .delete-btn {
    background-color: #28a745;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-btn:hover {
    background-color: #218838;
  }
  
  .delete-btn {
    background-color: #dc3545;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }
  
  .placeholder-text {
    color: #888;
    font-size: 18px;
    text-align: center;
  }
  